
<ol class="breadcrumb">
  {{#each breadcrumb}}
    <li>{{#if link}}
      <a href="{{link}}" title="{{name}}">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}}</li>
  {{/each}}
</ol>

<button id="btn-add-project" class="btn btn-primary btn-sm btn-envi-reload pull-right">
  <i class="fa fa-lg fa-fw fa-plus-circle"></i>添加项目
</button>
<style>
    .chosen-select{
        position: absolute;
        right: 120px;
        top:5px;
    }
    #notice-bar{
        position: absolute;
        right: 350px;
        top:0px;
    }
</style>
<select id="switcher" class="chosen-select" data-placeholder="请选择项目" data-live-search="true" data-style="btn-default">
  {{#each projects}}
    <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
  {{/each}}
</select>
<div id="notice-bar">
<a href="http://doc.ucweb.local/pages/viewpage.action?pageId=31545490" class="fa fa-question-circle fa-2x t-msg" style="color:#058dc7;position:absolute;top: -3px;right:50px;text-decoration:none;" title="项目接入文档"></a>
<!--<a href="http://doc.ucweb.local/pages/viewpage.action?pageId=31545490" style="color: #fff">项目接入文档</a>-->
<!--<span>监控配置咨询@钱汝锋</span>-->
<img src="http://image.uc.cn/s/uae/g/0g/rufeng.png" class="t-msg" title="监控配置咨询@钱汝锋" style="width:30px;height: 30px;border-radius: 50%; border: 1px solid #058dc7;position: absolute;top: -6px;right:0px;">
</div>