<div class="jarviswidget jarviswidget-sortable" id="mid-1" data-widget-colorbutton="false"
     data-widget-editbutton="false" role="widget" style="">
    <div role="content" style="height:400px">
        <div id="monitor-bar" class="widget-body">
            <form class="form-horizontal">
                <fieldset>
                    {{#if alarms}}
                        <div id="tc-alarms-{{id}}" class="tc-alarms form-group">
                            <label class="col-md-3 control-label">监控报警:</label>
                            <div class="col-md-9">
                                <ul>
                                    {{#each alarms.alarmRules}}
                                        <li>
                                            {{templateId}}：【{{key}}&nbsp;{{operatorName}}&nbsp;{{value}}】
                                            <a data-rule-id="{{@key}}" href="javascript:void(0);" class="btn btn-default btn-xs alarm-rule-del">删除</a>
                                        </li>
                                    {{else}}
                                        <li>
                                            未配置任何告警
                                        </li>
                                    {{/each}}
                                    <li>
                                            <!--<a id="alarm-add-success-{{id}}" href="javascript:void(0);" class="btn btn-success btn-xs">添加任务失败告警</a>-->
                                            <!-- Single button -->
                                            <div class="btn-group">
                                                <button type="button" class="btn dropdown-toggle  btn-success btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    添加告警 <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                {{#each tpls}}
                                                    <li><a href="javascript:void(0);" class="tplOptions" data-id="{{templateId}}">{{description}}</a></li>
                                                {{/each}}
                                                    <!--<li><a href="#">添加告警</a></li>-->
                                                    <!--<li><a href="#">Another action</a></li>-->
                                                    <!--<li><a href="#">Something else here</a></li>-->
                                                    <!--<li role="separator" class="divider"></li>-->
                                                    <!--<li><a href="#">Separated link</a></li>-->
                                                </ul>
                                            </div>
                                        {{#if alarms.isOpenAlarm}}
                                            <a id="alarm-open-{{id}}" data-alarm-status="true" href="javascript:void(0);" class="btn btn-danger btn-xs">关闭告警</a>
                                        {{else}}
                                            <a id="alarm-open-{{id}}" data-alarm-status="false" href="javascript:void(0);" class="btn btn-success btn-xs">开启告警</a>
                                        {{/if}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                </fieldset>
            </form>
        </div>
    </div>
</div>