<div class="nts-dash" id="dash-{{project.id}}">
    <h1 class="project-title">{{project.code}} - {{project.name}}</h1>
    <table class="envis">
        {{#each envi}}
            <tr height="40px">
                <td width="66px">
                    {{name}}
                </td>
                <td width="520px" align="center">
                    <select class="package-list form-control input-sm" id="select-envi-{{id}}">
                        {{#unless packageId}}
                            <option value=""></option>
                        {{/unless}}
                        {{#each ../packages}}
                            <option
                                    value="{{id}}"
                                    {{#compare id '==' ../packageId}}selected="selected"{{/compare}}>
                                {{createTime}} &nbsp; {{name}}
                            </option>
                        {{/each}}
                    </select>
                </td>
                <td width="70px" align="center">
                    <a href="javascript:void(0);" target="_blank" class="btn btn-primary btn-sm btn-envi-switch"
                       data-id="{{id}}">
                        <i class="fa fa-fw fa-external-link"></i>
                        切换
                    </a>
                </td>
                <td width="70px" align="center">
                    <a href="javascript:void(0);" target="_blank" class="btn btn-primary btn-sm btn-envi-reload"
                       data-id="{{id}}">
                        <i class="fa fa-mail-reply-all"></i>
                        重新部署
                    </a>
                </td>
            </tr>
        {{/each}}
    </table>
    <div class="package-upload">
        <span>包上传</span>
        <input type="file" class="btn btn-default file-package-upload">
        <button rel="upload" class="btn btn-primary btn-package-upload" data-id="{{project.id}}">上传脚本包</button>
    </div>
    <div class="setup">
        <div class="form-group">
            <label class="col-md-2 control-label">启动删除</label>

            <div class="col-md-4">
                <input class="form-control" type="text" value="{{setup.beforeDel}}" id="dash-{{project.id}}-setup"
                       data-id="{{project.id}}" placeholder="启动删除文件, 当有多个文件或目录请用逗号隔开">
            </div>
        </div>
    </div>
    <div class="contacts">
        <table class="table table-bordered table-striped">
            <tr>
                <th>环境</th>
                <th>监控报警联系人</th>
            </tr>
            {{#each envi}}
                <tr height="40px">
                    <td width="66px">
                        {{name}}
                    </td>
                    <td width="520px" align="left">
                        {{#each contactsJson.emails}}
                            {{name}}({{address}}) 
                            <a data-name="{{name}}" data-type="email"  data-env-id="{{../id}}" href="javascript:void(0);" class="btn btn-default btn-xs contacts-del">删除</a>
                        {{/each}}
                        {{#each contactsJson.mobiles}}
                            {{name}}({{address}})
                            <a data-name="{{name}}" data-type="mobile"  data-env-id="{{../id}}" href="javascript:void(0);" class="btn btn-default btn-xs contacts-del">删除</a>
                        {{/each}}
                        <a data-type="email" data-env-id="{{id}}" href="javascript:void(0);" class="btn-add-contacts btn btn-success btn-xs">添加</a>
                    </td>
                </tr>
            {{/each}}
        </table>
    <div>
</div>